<%= render 'shared/form_heading', title: 'Compliance Downtime Form' %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Client Information <span class="icon-chevron-down"></span>
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :vdn %><br/>
                <%= text_field_tag :vdn %>
              </td>
              <td>
                <%= label_tag :interviewer %><br/>
                <%= current_user.username %>
              </td>
              <td>
                <%= label_tag :z_number %><br/>
                <%= z_number(@dt_cr.id) %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :location_or_unit_number %><br/>
                <%= text_field_tag :location %>
              </td>
              <td>
                <%= label_tag :address_1 %><br/>
                <%= text_field_tag :address_1 %>
              </td>
            </tr>
              <td>
                <%= label_tag :department %><br/>
                <%= text_field_tag :department %>
              </td>
              <td>
                <%= label_tag :address_2 %><br/>
                <%= text_field_tag :address_2 %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= label_tag :city %><br/>
                <%= text_field_tag :city %>
              </td>
              <td>
                <%= label_tag :state %><br/>
                <%= text_field_tag :state %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= label_tag :zip_code %><br/>
                <%= text_field_tag :zip_code %>
              </td>
              <td>
                <%= label_tag :country %><br/>
                <%= text_field_tag :country %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= label_tag :phone %><br/>
                <%= phone_field_tag :phone %>
              </td>
              <td>
                <%= label_tag :fax %><br/>
                <%= phone_field_tag :fax %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h3 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Caller Information
        <i class='icon-chevron-down'></i>
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :name_declined %><br/>
                <%= check_box_tag :declined %>
              </td>
              <td>
                <%= label_tag :unit %><br/>
                <%= text_field_tag :unit %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :first_name%><br/>
                <%= text_field_tag :caller_first_name%>
              </td>
              <td>
                <%= label_tag :name %><br/>
                <%= text_field_tag :caller_last_name %>
              </td>
            </tr>
              <td>
                <%= label_tag :last_name %><br/>
                <%= text_field_tag :last_name_1 %>
              </td>
              <td>
                <%= label_tag :address_1 %><br/>
                <%= text_field_tag :address_1_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :caller_type %><br/>
                <%= select_tag "caller_type", "<option>Customer</option><option>Employee</option><option>Former Employee</option><option>Other</option><option>Unknown</option>".html_safe, :include_blank => true %>
              </td>
              <td>
                <%= label_tag :address_2 %><br/>
                <%= text_field_tag :address_2_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :title %><br/>
                <%= text_field_tag :caller_title %>
              </td>
              <td>
                <%= label_tag :city %><br/>
                <%= text_field_tag :city_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :when_to_call %><br/>
                <%= text_field_tag :when_to_call %>
              </td>
              <td>
                <%= label_tag :state %><br/>
                <%= text_field_tag :state_2 %>
              </td>
              <td>
                <%= label_tag :zip_code %><br/>
                <%= text_field_tag :zip_code_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :phone %><br/>
                <%= phone_field_tag :caller_phone %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :ext %><br/>
                <%= phone_field_tag :caller_ext %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :email %><br/>
                <%= email_field_tag :caller_email %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :how_did_you_learn_about_the_hotline %><br/>
                <%= select_tag "how_did_you_learn", "<option>Employee</option><option>Handbook</option><option>HR</option><option>Intranet</option><option>Manager</option><option>Poster</option><option>Sign</option><option>Video</option><option>Wallet Card</option><option>Other</option><option>Unknown</option>".html_safe, :include_blank => true %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingThree">
      <h3 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Responsible Information
        <i class='icon-chevron-down'></i>
        </a>
      </h3>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :responsible_first_name_1 %><br/>
                <%= text_field_tag :responsible_first_name_1 %>
              </td>
              <td>
                <%= label_tag :responsible_last_name_1 %><br/>
                <%= text_field_tag :responsible_last_name_1 %>
              </td>
              <td>
                <%= label_tag :responsible_title_name_1 %><br/>
                <%= text_field_tag :responsible_title_name_1 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :responsible_description_1 %> <small class"quiet">(if unknown)</small><br/>
                <%= text_area_tag :responsible_description_1 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :responsible_first_name_2 %><br/>
                <%= text_field_tag :responsible_first_name_2 %>
              </td>
              <td>
                <%= label_tag :responsible_last_name_2 %><br/>
                <%= text_field_tag :responsible_last_name_2 %>
              </td>
              <td>
                <%= label_tag :responsible_title_name_2 %><br/>
                <%= text_field_tag :responsible_title_name_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :responsible_description_2 %>  <small class"quiet">(if unknown)</small><br/>
                <%= text_area_tag :responsible_description_2 %>
              </td>
            </tr>
              <tr>
              <td>
                <%= label_tag :responsible_first_name_3 %><br/>
                <%= text_field_tag :responsible_first_name_3 %>
              </td>
              <td>
                <%= label_tag :responsible_last_name_3 %><br/>
                <%= text_field_tag :responsible_last_name_3 %>
              </td>
              <td>
                <%= label_tag :responsible_title_name_3 %><br/>
                <%= text_field_tag :responsible_title_name_3 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :responsible_description_3 %> <small class"quiet">(if unknown)</small><br/>
                <%= text_area_tag :responsible_description_3 %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>


<div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingFour">
      <h3 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Management Information
        <i class='icon-chevron-down'></i>
        </a>
      </h3>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :manager_first_name_1 %><br/>
                <%= text_field_tag :manager_first_name_1 %>
              </td>
              <td>
                <%= label_tag :manager_last_name_1 %><br/>
                <%= text_field_tag :manager_last_name_1 %>
              </td>
              <td>
                <%= label_tag :manager_title_name_1 %><br/>
                <%= text_field_tag :manager_title_name_1 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :manager_phone_1 %><br/>
                <%= phone_field_tag :manager_phone_1 %>
              </td>
              <td>
                <%= label_tag :date_notified_1 %><br/>
                <%= text_field_tag :date_notified_1 %>
              </td>
              <td>
                <%= label_tag :action_1 %><br/>
                <%= text_area_tag :action_1 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :manager_first_name_2 %><br/>
                <%= text_field_tag :manager_first_name_2 %>
              </td>
              <td>
                <%= label_tag :manager_last_name_2 %><br/>
                <%= text_field_tag :manager_last_name_2 %>
              </td>
              <td>
                <%= label_tag :manager_title_name_2 %><br/>
                <%= text_field_tag :manager_title_name_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :manager_phone_2 %><br/>
                <%= phone_field_tag :manager_phone_2 %>
              </td>
              <td>
                <%= label_tag :date_notified_2 %><br/>
                <%= text_field_tag :date_notified_2 %>
              </td>
              <td>
                <%= label_tag :action_2 %><br/>
                <%= text_area_tag :action_2 %>
              </td>
            </tr>
              <tr>
              <td>
                <%= label_tag :manager_first_name_3 %><br/>
                <%= text_field_tag :manager_first_name_3 %>
              </td>
              <td>
                <%= label_tag :manager_last_name_3 %><br/>
                <%= text_field_tag :manager_last_name_3 %>
              </td>
              <td>
                <%= label_tag :manager_title_name_3 %><br/>
                <%= text_field_tag :manager_title_name_3 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :manager_phone_3 %><br/>
                <%= phone_field_tag :manager_phone_3 %>
              </td>
              <td>
                <%= label_tag :date_notified_3 %><br/>
                <%= text_field_tag :date_notified_3 %>
              </td>
              <td>
                <%= label_tag :action_3 %><br/>
                <%= text_area_tag :action_3 %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingFive">
      <h3 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Aware/Involved Information
        <i class='icon-chevron-down'></i>
        </a>
      </h3>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :involved_first_name_1 %><br/>
                <%= text_field_tag :involved_first_name_1 %>
              </td>
              <td>
                <%= label_tag :involved_last_name_1 %><br/>
                <%= text_field_tag :involved_last_name_1 %>
              </td>
              <td>
                <%= label_tag :involved_title_name_1 %><br/>
                <%= text_field_tag :involved_title_name_1 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :involved_description_1 %> <small class"quiet">(if unknown)</small><br/>
                <%= text_area_tag :involved_description_1 %>
              </td>
              <td>
                <%= label_tag :involved_role_1 %><br/>
                <%= select_tag :involved_role_1 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :involved_first_name_2 %><br/>
                <%= text_field_tag :involved_first_name_2 %>
              </td>
              <td>
                <%= label_tag :involved_last_name_2 %><br/>
                <%= text_field_tag :involved_last_name_2 %>
              </td>
              <td>
                <%= label_tag :involved_title_name_2 %><br/>
                <%= text_field_tag :involved_title_name_2 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :involved_description_2 %> <small class"quiet">(if unknown)</small><br/>
                <%= text_area_tag :involved_description_2 %>
              </td>
              <td>
                <%= label_tag :involved_role_2 %><br/>
                <%= select_tag :involved_role_2 %>
              </td>
            </tr>
              <tr>
              <td>
                <%= label_tag :involved_first_name_3 %><br/>
                <%= text_field_tag :involved_first_name_3 %>
              </td>
              <td>
                <%= label_tag :involved_last_name_3 %><br/>
                <%= text_field_tag :involved_last_name_3 %>
              </td>
              <td>
                <%= label_tag :involved_title_name_3 %><br/>
                <%= text_field_tag :involved_title_name_3 %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :involved_description_3 %> <small class"quiet">(if unknown)</small><br/>
                <%= text_area_tag :involved_description_3 %>
              </td>
              <td>
                <%= label_tag :involved_role_3 %><br/>
                <%= select_tag :involved_role_3 %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

<div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingSix">
      <h3 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Incident Information
        <i class='icon-chevron-down'></i>
        </a>
      </h3>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :when_incident_occurred %><br/>
                <%= text_field_tag :when_incident_occurred %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :incident_description %><br/>
                <%= text_area_tag :incident_description %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :where_incident_occurred %><br/>
                <%= text_field_tag :where_incident_occurred %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :how_do_you_know_of_the_incident %><br/>
                <%= select_tag "when_incident_occurred", "<option>Heard from Others</option><option>Involved</option><option>Overheard</option><option>Victim</option><option>Witnessed</option><option>Would Not State</option><option>Other</option><option>Unknown</option>".html_safe, :include_blank => true %>
              </td>
              <td>
                <%= label_tag :supporting_documentation %></br>
                <%= text_field_tag :supporting_documentation %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>


<div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h3 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Coding Information
        <i class='icon-chevron-down'></i>
        </a>
      </h3>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body container-fluid">
        <%= form_tag '/dt_crs' do %>
          <table class='table'>
            <tr>
              <td>
                <%= label_tag :code %>
                <%= select_tag "code", "<option>Conflict of Interest</option><option>Customer Relations</option><option>Discrimination</option><option>Employee Relations</option><option>Falsification of Company Records</option><option>Fraud</option><option>Fraudulent Insurance Claims</option><option>Kickbacks</option><option>Policy Issues</option><option>Product Quality Concern</option><option>Release of Proprietary Information</option><option>Safety and Sanitation Issues</option><option>Sexual Harrasment</option><option>Substance Abuse</option><option>Theft of Cash</option><option>Theft of Goods and Services</option><option>Theft of Time</option><option>Unauthorized Discounts</option><option>Wage/Hour Issues</option><option>Workplace Violence</option>".html_safe, :include_blank => true %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :are_there_plans_for_this_to_occur_within_the_next_24_hours_? %>
                <%= label_tag :yes %> <%= check_box_tag :yes %> <%= label_tag :no %> <%= check_box_tag :no %>
              </td>
            </tr>
            <tr>
              <td>
                <%= label_tag :where %>
                <%= text_field_tag :where %>
              </td>
              <td>
                <%= label_tag :when %>
                <%= text_field_tag :when %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div

</div>
<br>
<%= submit_tag "Submit", class: 'btn btn-warning pull-right' %>