<div class='well'>
  <div class='pull-right'>Article: <%= @article.id %></div>
  <strong>Client</strong>: <%= article.client_name %>
  <br/>
  <strong>VDN</strong>: <%= article.vdn %>
  <br/>
  <br/>
  <p>
  <strong>Question</strong>:
  <%= simple_format h article.question %>
  <br/>
  <strong>Answer</strong>:
  <%= simple_format h article.answer %>
  </p>
</div>