<div class='well'>
  <strong>Client</strong>: <%= article.client_name %>
  <br/>
  <strong>VDN</strong>: <%= article.vdn %>
  <br/>
  <br/>
  <p>
  <strong>Question</strong>:
  <%= simple_format h article.question %>
  <br/>
  <strong>Answer</strong>:
  <%= simple_format h article.answer %>
  </p>
  <small class='quiet'>Article: <%= @article.id %></small>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Edit this article', edit_article_path(article) %><br/>
  <%= link_to 'Delete this article', article_path(article), confirm: 'Are you sure?', method: :delete %>

  <%= render 'shared/error', form: @comment %>

  <h5>Create a comment:</h5>
  <%= form_for [@article, @comment] do |f| %>
    <%= f.text_area :body %>
    <br>
    <%= f.submit "Create comment", class: 'btn btn-primary' %>
  <% end %>

  <p>
  <% @article.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  </p>

<% end %>