<div class='well'>
  <strong>Client</strong>: <%= article.client_name %>
  <br/>
  <strong>VDN</strong>: <%= article.vdn %>
  <br/>
  <br/>
  <p>
  <strong>Question</strong>:
  <%= simple_format h article.question %>
  <br/>
  <strong>Answer</strong>:
  <%= simple_format h article.answer %>
  </p>
  <small class='quiet'>
    Article: <%= @article.id %><br>
    <%= render 'shared/creation_stats', article_type: article %>
  </small>
</div>

<% if logged_in? && current_user.admin? %>
  <%= link_to 'Edit this article', edit_article_path(article) %><br/>
  <%= link_to 'Delete this article', article_path(article), data: { confirm: 'This article and associated comments will be deleted. Are you sure you?' }, method: :delete %>

  <%= render 'shared/error', form: @comment %>
  <p>
  <br/>
  <strong>Create a comment:</strong>
  <%= form_for [@article, @comment] do |f| %>
    <%= f.text_area :body %>
    <br/>
    </br>
    <%= f.submit "Create comment", class: 'btn btn-primary' %>
  <% end %>
  <p>
  <% @article.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
  </p>

<% end %>