<div class='well'>
  <%= form_for @article do |f| %>
    <div class='form-group'>
      <%= f.label :client_name %><br/>
      <%= f.text_field :client_name %>
      <br>
      <%= f.label :vdn, 'VDN' %><br/>
      <%= f.text_field :vdn %>
      <br>
      <%= f.label :title_or_question %><br/>
      <%= f.text_area :question %>
      <br>
      <%= f.label :answer %><br/>
      <%= f.text_area :answer %>
      <br><br/>
      
      <% if current_page?(action: 'new') %>
        <!-- add nothing !-->
      <% elsif current_page?(action: 'edit') %>
        <strong>What was changed and why?</strong><br/>
        <%= form_for [@article, @comment] do |f| %>
          <%= f.text_area :body %>
        <br/>
        <% end %>
      <% end %>
      <br/>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>