<%= form_for articles_path, method: :get do |f| %>
  <p>
    <center>
      <%= f.label "" %>
      <%= text_field_tag :q, params[:q] %>
      <%= submit_tag "Search", name: nil %>
    </center>
  </p>
<% end %>

<div class="well">
  <% @articles.each do |article| %>
    <%= link_to "#{article.question}", article_path(article.id) %>
    <div class="quiet">
      <em><small><%= article.client_name %> <%= article.vdn %></small></em>
<br/>
</p>
  <% end %>
</div>