<%= render 'error' %>

<div class='well'>
  <%= form_for @article do |f| %>
    <div class='control-group'>
      <%= f.label :client_name %>
      <%= f.text_field :client_name %>
      <br>
      <%= f.label :VDN.upcase %>
      <%= f.number_field :vdn %>
      <br>
      <%= f.label :title_or_question %>
      <%= f.text_area :question %>
      <br>
      <%= f.label :answer %>
      <%= f.text_area :answer %>
      <br>
      <%= f.submit "Create Article", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
