<div class="panel panel-warning">
    <div class="panel-heading" role="tab" id=<%= heading_number %>>
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= collapse_number %>" aria-expanded="true" aria-controls=<%= collapse_number %>>
        <%= panel_heading_title %> <span class="icon-chevron-down"></span>
        </a>
      </h3>
    </div>
    <div id=<%= collapse_number %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= heading_number %>>