<ul class="nav navbar-default navbar-fixed-top">
  <div class='container-fluid'>
    <%= link_to "Knowledgebase", root_path, :class => 'navbar-brand' %>
  </div>
</ul>

<% if logged_in? %>
  <!-- Downtime Forms dropdown menu !-->
  <div class='btn-group nav_item navbar-right'>
      <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
        Downtime Forms <span class='caret'></span>
      <% end %>
      <ul class='dropdown-menu' role='menu'>
          <li>
             <%= link_to 'Compliance',  new_dt_cr_path %>
          </li>
          <li>
             <%= link_to 'General Liability', '#' %>
          </li>
          <li>
             <%= link_to 'Worker\'s Comp', '#' %>
          </li>
          <li>
             <%= link_to 'Auto Liability', '#' %>
          </li>
          <li>
             <%= link_to 'CCQ', '#' %>
          </li>
          <li>
             <%= link_to 'AIR', '#' %>
          </li>
      </ul>
  </div>
  <!-- User dropdown menu !-->
  <div class='nav_item btn-group'>
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      <%= current_user.username %> <span class= 'caret'></span>
    <% end %>
    <ul class='dropdown-menu'>
      <li>
        <%= link_to new_article_path do %>
          <i class='icon-plus'></i>
          new article
        <% end %>
      </li>
      <li>
        <%= link_to logout_path(current_user) do %>
          <i class='icon-circle-arrow-left'></i>
          logout
        <% end %>
      </li>
    </ul>
  </div>
<% else %>
  <div class='nav_item navbar-right'>
    <%= link_to 'Register', register_path %>
  </div>
  <div class='nav_item navbar-right'>
    <%= link_to 'Log in', login_path %>
  </div>
<% end %>